@import url("http://fonts.cdnfonts.com/css/euclid-circular-a");
.card {
  width: 15rem;
  height: 20rem;
  background-color: #FFFFFF;
}

.card1 {
  width: 11rem;
  height: 20rem;
  border: 1px solid #343434;
  border-radius: 8px;
  color: #FFFFFF;
}

.common-container {
  max-width: 80rem;
  padding: 10px 3rem;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A", sans-serif;
}

.container {
  width: 100%;
  max-width: 85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3rem;
}
.container .burger {
  display: none;
}
.container .imaq {
  width: 100px;
}
.container nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container nav .navbar {
  display: flex;
  gap: 56px;
  align-items: center;
}
.container nav a {
  text-decoration: none;
  color: black;
}
.container nav a:hover {
  color: #43BA7F;
}
.container nav .nav-item-4 {
  background: #43BA7F;
  border-radius: 24px;
  padding: 10px 15px;
  color: white;
}

.b {
  margin-top: 50px;
}

.basliq {
  display: flex;
}
.basliq h2 {
  margin: auto;
}
.basliq img {
  margin-left: 1050px;
}

.box-9 {
  display: flex;
  gap: 32px;
}
.box-9 .text {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  background: #43BA7F;
  border-radius: 8px;
  color: #FFFFFF;
  text-align: center;
}
.box-9 .text1 {
  padding: 1rem 1rem;
}

.eigth .common-container {
  margin-top: 100px;
}
.eigth .common-container .aza1 {
  color: #43BA7F;
}
.eigth .common-container .aza2 {
  margin-top: 24px;
  width: 488px;
  height: 64px;
}
.eigth .common-container .aza3 {
  margin-top: 16px;
}
.eigth .common-container .aza4 {
  margin-top: 24px;
  width: 488px;
  height: 64px;
  color: #43BA7F;
}
.eigth .common-container .az2 {
  width: 50%;
}
.eigth .common-container .az3 {
  display: flex;
  margin-top: 70px;
  gap: 32px;
}

.foot {
  background-color: black;
  width: 100%;
  padding: 2rem 0;
}
.foot .common-container .foot-common {
  display: flex;
  justify-content: space-be;
  gap: 9rem;
}
.foot .common-container .foot-common .iconic {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.foot .common-container .foot-common .iconic .tt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.foot .common-container .foot-common .word {
  color: #3D4045;
  width: 15rem;
}
.foot .common-container .foot-common .t2 {
  display: flex;
}
.foot .common-container .foot-common .t3 {
  display: flex;
  gap: 24px;
}
.foot .common-container .foot-common .navv1 {
  display: flex;
  gap: 6rem;
}
.foot .common-container .foot-common .navv1 .navv {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.foot .common-container .foot-common .navv1 .navv a {
  text-decoration: none;
  color: #3D4045;
  width: 7rem;
}
.foot .common-container .foot-common .navv1 .navv a:hover {
  color: #43BA7F;
}
.foot .common-container .foot-common .box-5 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.foot .common-container .foot-common .box-5 .qa {
  display: flex;
}
.foot .common-container .foot-common .box-5 .ert {
  width: 248px;
  height: 48px;
  background: #FBF5F2;
  border-radius: 16px;
  margin-top: 16px;
}
.foot .common-container .foot-common .box-5 .ery {
  width: 96px;
  height: 48px;
  background: #43BA7F;
  border-radius: 16px;
  color: white;
  margin-top: 1rem;
}
.foot .common-container .foot-common .dfg {
  color: #3D4045;
}
.foot .common-container .foot-common .hjk {
  display: flex;
  margin-top: 32px;
}

.sehife {
  padding: 2rem 2rem;
  width: 614px;
  display: flex;
  justify-content: space-between;
}
.sehife a {
  text-decoration: none;
}
.sehife .sehife2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 450px;
}
.sehife .sehife2 .seh {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 40px;
  background: #43BA7F;
  border-radius: 8px;
  color: white;
}
.sehife .sehife1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 83px;
  border: 1px solid #E6E8EA;
  border-radius: 8px;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
  .container .burger {
    display: block !important;
    color: black;
  }
  .container nav .navbar .nav-item-1 {
    display: none;
  }
  .container nav .navbar .nav-item-2 {
    display: none;
  }
  .container nav .navbar .nav-item-3 {
    display: none;
  }
  .container .text {
    width: 10rem;
  }
  .eigth .common-container .az3 {
    display: flex;
    flex-direction: column;
  }
  .eigth .common-container .az3 .az1 {
    width: 100%;
  }
  .eigth .common-container .az3 .az1 .aza2 {
    width: 100%;
  }
  .eigth .common-container .az3 .az2 {
    width: 100%;
  }
  .eigth .common-container .az3 .az2 .aza4 {
    width: 100%;
  }
  .eigth .common-container .az3 img {
    width: 100%;
  }
  .sehife {
    width: 100%;
  }
  .sehife .sehife1 p {
    display: none;
  }
  .foot .common-container .foot-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .foot .common-container .foot-common .navv1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}/*# sourceMappingURL=blog1.css.map */