   header{
    width: 100%;
    height: 130px;
    background: #FFFFFF;
    position: relative;
}
.header-text{
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);
       font-family: 'Lobster';
       font-style: normal;
       font-weight: 400;
       font-size: 49px;
       line-height: 50px; 
       color: #109E97;
       text-decoration: none;
   }
nav{
    background-color:#109E97; 
    Width:100%;
    display: flex;
    justify-content: center;
}
.nav-link a{
   text-decoration: none;
   color: #FFFFFF;
   font-size: 18px;
   display: block;
   cursor: pointer;
   text-align: center;
   padding: 20px 0;
}
.nav-links{
   display: flex;
   justify-content: space-between;
   width: 70%;
   list-style: none;
}
.nav-link{
   border-left: 1px white;
   width: 20%;
   border-right: 1px solid white

}
nav ul li a:hover{  
    color: #109E97;
    background-color: #FFFFFF;
  
}
.nav-link:nth-child(4){
    background-color:#093f3c;
}
.nav-link:first-child{
   border-left: 1px solid white
}

.boxx{
  
    padding: 0px 20%;
    margin: auto;
}


 .social-icon{
    width: 50px;
    height: 50px;
 }
.arrow{
    width: 50px;
    height: 50px;
}

 .icons{
    position: fixed;
    top: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
 }
 
.box{
 display: flex;
margin-top: 99px;
height: 430px;
    width: 100%;
    border: 2px ;
    gap:10%;
}
.box1{
display: flex;
flex-direction: column;
margin-top: 30px;
top: 0;
right: 0;

}

.qiymet{
    display: flex;
    justify-content: flex-end;
}
.box2{
    margin-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self:flex-end;
  
   
 }
    .box2 h3{
    text-align: end;
    margin: 1rem;

}

.dd{
    display: flex;
    justify-content: flex-end;
}
@media (max-width:1024px){
   .boxx{
    width: 60%;
    padding: 0;
   } 
   .box{
    height: auto;
   }
   .box img{
    width:100%;
   }
    .box4 img{
        display:none;
    }
   .box1{
    width: 100%;
   }
    .nav-links{
   width: 100%;
}
.box2{
    width: 100%;
}

}
@media (max-width:768px) {
    .boxx{
        width: 80%;
        padding: 0;
    }
    .nav-links{
        width: 100%;
     }
     div img{
        display: flex;
        flex-direction: column;
     }
     .ss{
        overflow-y: scroll;
        direction: rtl;
   }
   
 
}



  @media (max-width:600px)  {

    .icons{
        position: static;
        flex-direction: row;
        justify-content: center;
    }
   
    .header-text{
        font-family: Lobster;
        width: 100%;
        text-align: center;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        width: 100% !important;
    }
  .box2{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
  }
  .qiymet{
    border-bottom:1px solid black;
  }
  .ss{
    width: 100%;
        overflow-y: scroll;
        direction: rtl;
   }
   
  }
 


.Sebet{
 
      width: 149px;
      height: 48px;
      
      background: #109E97;
      border: 1px solid #109E97;
      border-radius: 4px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color:#ffffff;

}
.ss{
     overflow-y: scroll;
     direction: rtl;
}


p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000; 
    font-weight: bold; 
}

.Basliq{
     display: flex;
     justify-content: end;
 
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 26px;
     line-height: 26px;
     color: #000000;
}
.image{
background: url(.jpg);
border-radius: 0px;
}
.reng:focus{
background-color:yellow;
}
.qalicka:focus{
width: 20px;
height: 20px;
}

b{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #008000;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}
.sil{
    display: flex;
   align-items:flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF0000;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    
    text-decoration:line-through;
}



.box3{
margin: auto;
    margin-top: 130px;
    width: 100%;
    border: 2px ;
    
}
h3{
    margin-top: 30px;
    text-align: center;
}



.third{
/* border: 1px solid #808080; */
border-collapse: collapse
}

.third tr{
    border-bottom: 1px solid black;
}

.third td{
    padding: 8px
}


.four{
background: url(.jpg);
border-radius: 0px;

}
.five{
    
background: url(.jpg);
border-radius: 0px;

}
.six{
  text-align: center;
}

.seven{
    box-sizing: border-box;
    background: #109E97;
    border-radius: 0px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 80px;
text-align: center;

color: #FFFFFF;
}
.gonder{
    width: 91px;
    height: 48px;
    left: 873px;
    top: 1524px;
    
    background: #109E97;
    border: 1px solid #109E97;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    
    color: #FFFFFF;

}
.first{

font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.box4{
    margin-top: 130px;
}
.box4:hover{
    opacity: 0.5;
}









