.boxx{
    width: 90%;
    margin: auto;
}
header{
    width: 100%;
    height: 130px;
    background: #FFFFFF;
    position: relative;
}
nav{
     background-color:#109E97; 
     Width:100%;
     display: flex;
     justify-content: center;
}
.nav-link a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;
}


.nav-links{
    display: flex;
    justify-content: space-between;
    width: 70%;
    list-style: none;
}
.nav-link{
    border-left: 1px white;
    width: 20%;
    border-right: 1px solid white
}

.nav-link:first-child{
    border-left: 1px solid white

}

.header-text{
 position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 50px; 
    color: #109E97;
    text-decoration: none;
}
.box{
    background-image: url(/Image/cover.jpg);
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
    padding: 40px 0;
}
.boks{
width: 300px;
height: 391px;
}

.yazi{
    width: 390px;
 display: flex;
 flex-direction: column;
 gap: 10px;
}





.Sebet{
width: 148px;
height: 44px;

background: #109E97;
border: 1px solid #109E97;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 23px;

text-align: center;
color: #FFFFFF;
}
.basliqq{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
text-align: center;
text-transform: uppercase;
margin: 50px 0;
}

.icon1{
    position: fixed;
width: 50px;
height: 50px;
left: 90%;
top: 300px;
}
.icon2{
    position: fixed;
width: 50px;
height: 50px;
left: 90%;
top: 360px;
}
.icon3{
    position: fixed;
width: 50px;
height: 50px;
left: 90%;
top: 420px;
}
.icon4{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 90%;
    top: 480px;
}
.icon5{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 90%;
    top:540px;
}


.sekiller{
  
width: 960px;
height: 1155px;
left: 439px;
margin: auto;
border: 2px solid #916A6A;
display: flex;
flex-wrap: wrap;
gap: 40px;
padding: 55px;
}
.bir{
    text-align: center;
    width: 252px;
    height: 344px;
    border: 1px solid #109E97;
}
.klik{
    text-decoration: none;
  
}
.seven{
   
    background: #109E97;
font-style: normal;
font-weight: 400;
display: block;
font-size: 14px;
line-height: 80px;
text-align: center;
color: #FFFFFF;
}



.word{
text-align: center;
}
.click{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
text-align: center;
color: #0000EE;
}
.sekill{
width: 150px;
text-align: center;
margin-top: 30px;
}